/* =============================================================
LIST
================================================================ */
.main {
    display: flex;
    flex-direction: row;
    width: 100%;

}
/* ==========================
atributos o categoria para los producto
========================== */
.atributos{
    flex: 1;
    max-width: 200px;
    height: 80dvh;


    overflow-y: auto;
    display: flex;
    background-color: #171717;
    position: sticky;
    top: calc(120px + 0.5rem);
}

.atributo{
padding: 8px 0px 4px 4px;
font-size: 0.85rem;
list-style-type: none;
}

.atributo:hover {
    background-color: #3f3f3f;
}
/* ==========================
productos
========================== */
.lista-productos{
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 1rem;
    padding: 0.5rem 1rem;
}
