/*-- ==========================
    Luco Soza 12/7/2026
    ========================== */
/* ==========================
pequeños cambios en nav bajo
y se sustitulle "nav-bajo a"por barra
y se agrego a y button
========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   

}

a{
text-decoration: none;
text-transform: uppercase;
color: rgb(240, 238, 238);
}

button{
    cursor: pointer;
}


img{
  height: 100%;
  width: 100%;
}

/* ==========================
el main se mantiene similar al de la pagina de inicio
========================== */
main{
    background-color: #292929;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}

/* =============================================================

LISTA

================================================================ */
.sectionlist{
display: flex;
height: auto;
width: 100%;}
/* ==========================
atributos o categoria para los producto
========================== */
.atributos{
overflow-y: auto;
display: flex;
height: 80vh;
width: 12%;
text-decoration: none;
text-transform: uppercase;
color: white;
background-color: #111111;
position: -webkit-sticky;
position: sticky;
top: 21%;
left: 0%}
.lista-atributos{
 margin-left: 5%;
height: 100%;
width: 100%; }
.atributo{
padding: 8px 0px 4px 4px;
font-size: 0.85rem;
list-style-type: none;
}

.atributo:hover {
    background-color: #3f3f3f;
}
/* ==========================
productos
========================== */
.lista-productos{
display: flex;
margin: 1%;
flex-wrap: wrap;
width: 86%;
height: 100%;
justify-content: center;}

.producto{ 
min-width: 180px;
width: 20%;
height: 300px;
background-color: #373737;
padding: 1%;
margin: 1%;
display: inline-block;
vertical-align: middle;
justify-content: center;
}

.img-producto{
margin-bottom: 5%;
 width: 100%;
height: 40%;
}

.precio{
color: rgb(0, 94, 255);}

.carrito{
margin-top: 10%;
color: rgb(243, 244, 246);
width: 77%;
height: 9%;
background-color: transparent;
justify-content: center;
margin-left: 10%;
border-color: rgb(243, 244, 246);}
/* ==========================
cambio de pagina
========================== */
.CambioDePagina{
display: block; height: 30px; margin-left: 50%;}
   /* ==========================
*{ outline: 1px solid red !important;}
========================== */
