/* ===================================
CONFIGURACION GENERAL DE SISTEMA
=================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Playfair;
    color: #ededed;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #292929;
}

/* ===================================
AJUSTES DE ETIQUETAS GENERALES
=================================== */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

input, input::placeholder {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    border: none;
}

/* ===================================
HEADER Y SUS NAVS DE TODAS LAS PAGINAS
=================================== */

.header {
    display: flex;
    flex-direction: column;
    position: sticky;

    width: 100%;
    max-height: 120px;
    padding: 0.25rem 0.5rem;

    top: 0;
    z-index: 100;

    background-color:#171717;
}

.header-nav {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#nav-superior {
    max-height: 75px;
    gap: 12px;
}

.header-logo {
    width: 180px;
}

.header-logo img {
    transition: filter 250ms ease;
}

.header-logo:hover img {
    filter: brightness(150%);
}

.header-busqueda {
    flex: 1;

    display: flex;
    overflow: hidden;

    border-radius: 1.5rem;
    transition: transform 250ms ease;
}

.header-busqueda:has(input:focus) {
    transform: scale(1.005);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.header-busqueda input {
    flex: 1;
    padding: 0 1rem;

    font-size: 1.4rem;
    background-color: #616161;
}

.header-busqueda button {
    background: #292929;
    border-radius: 0 1rem 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center; 

    padding: 4px 10px;
    
}

.header-busqueda button svg {
    width: 2rem;
    height: 2rem;
    
    color: #ededed;
    transition: opacity 200ms ease;
}

.header-busqueda button:hover svg {
    opacity: 0.5;
}

.btn-ingresar {
    flex: 1;
    max-width: 210px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    transition: transform 100ms ease, opacity 100ms ease;
}

.btn-ingresar:hover {
    transform: scale(0.995);
    opacity: 0.8;
}

.btn-ingresar svg {
    width: 40px;
    height: 40px;
    color: #ededed;
    flex-shrink: 0;
}

.btn-ingresar p {
    font-size:  1.4rem;
}

.btn-carrito {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
    max-width: 64px;
    margin: 0 auto;
    
    transition: transform 100ms ease, opacity 100ms ease;
}

.btn-carrito svg {
    width: 40px;
    height: 40px; /* Mantén proporción 1:1 para evitar distorsión */
    color: #ededed; /* Controla el 'currentColor' de stroke y fill */
    flex-shrink: 0;
}

/* ----------------------------------------------------------------- */

.btn-carrito:hover {
    transform: scale(0.995);
    opacity: 0.8;
}

#nav-inferior {
    max-height: 45px;
    padding: 0.2 0 0.3rem 0;
    overflow: hidden;
}

.nav-list {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
}

.nav-item {
    border-radius: 16px;
    padding: 0px 4px;
    transition: background-color 150ms ease,
    transform 150ms ease;
}

.nav-item a {
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;

    padding: 4px 12px;
    font-size: 1.3rem;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.50);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.50);
    transform: scale(0.99);
}

.nav-item:first-child {
    padding: 0 1.2rem;
    text-align: center;
    background-color: #ededed;
    color: #151515;
}

.nav-item:first-child:hover {
    background-color: rgba(237, 237, 237, 0.75);
}

/* ===================================
            FOOTER AREA
=================================== */

.footer {
    background-color: #212121;
    padding: 2rem 2rem;
}

.redes{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 1rem;
}

.icono {
    width: 64px;
    height: 80px;
    fill: #ededed;
    display: inline-block;
}

.red-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.75rem;
    align-items: center;
}

.redes-txt {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
}

.redes-txt h2 {
    font-size: 1.75rem;
}

.redes-txt p {
    font-size: 1.2rem;
}

.promociones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    
}

.promociones-img {
    flex: 1;
    max-width: 600px;
    height: 275px;
    background-size: cover;
    background-position: center;
}

#promociones-1 {
    background-image: url("../img/anuncioTeclado.png");
}

#promociones-2 {
    background-image: url("../img/anuncioSwitch.png");
}

/* ===================================
        TARJETA DE PRODUCTOS
=================================== */

.carta-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    flex: 1;
    min-width: 240px;
    max-width: 420px;
    min-height: 420px; 

    background-color: #373737;
    border-radius: 1rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem; 
}

.carta-producto-info {
    width: 100%;
    flex: 1;
    max-height: 360px;
    transition: opacity 200ms ease-in;
}

.carta-producto-info:hover {
    opacity: 0.75;
}

.carta-producto-info h3 {
    padding: 0.75rem 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;
}

.carta-producto-info p {
    color: #556ceb;
    font-size: 1.75rem;
    text-align: center;
}

.carta-producto button {
    background: linear-gradient(to right,#6a09e0,#3480d7);

    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%; 
    font-size: 1.4rem; 
    margin-top: 1rem;
    transition: filter 200ms ease-out;
}

.carta-producto button svg {
    width: 40px;
    height: 24px;
    fill: none;
    stroke: #ededed;
    stroke-width: 2px;
}

.carta-producto button:hover {
    filter: brightness(150%);
}