/* ==========================
   INICIO
   Ajuste de titulos e imagenes 
   para el inicio de la pagina
========================== */

#inicio{
    background: linear-gradient(to right,#7112e8,#2d71bf);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    overflow: hidden;
}

#texto-inicio{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 10px;
}

#texto-inicio h1{
    font-size: clamp(70px,7vw,80px);
    text-transform: uppercase;
    line-height: 0.9;
    text-shadow: #3a2590 7px 2px;
}

#texto-inicio h2{
    width: fit-content;
    padding: 10px 35px;
    background-color: #5c12b8;
    border-radius: 15px;
    text-align: center;
    color: white;
    font-size: clamp(20px,4vw,30px);
    text-transform: uppercase;
    font-family:'Open Sans'
}

#inicio img{
    display: block;
    width: 100%;
    max-width: 320px;
    height: auto;
    cursor: pointer;
}

#imagenes-inicio{
    flex: 1;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

#grafica-1{
    width:300px;
    z-index:3;

}

#grafica-2{
    width:260px;
    margin-left:-100px;
    z-index:2;
}

#grafica-3{
    width:240px;
    margin-left:-150px;
    z-index:1;
}

/* ==========================
   CATEGORIAS DE EL INICIO
   Ajuste por columnas para las
   distintas categorias de la pagina
========================== */

#categorias-inicio{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 40px;
    background-color: #444444;
    padding: 20px;
}

#categorias-inicio img{
    display: block;
    width:100px;
    max-width: 180px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

#categorias-inicio img:hover{
    width:110px;
    height: 110px;
}

.objeto-categoria-inicio{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objeto-categoria-inicio a{
    margin-top: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
}

/* ==========================
   MAIN
   Ajuste de el fondo para el main
========================== */

main{
    background-color: #292929;
}

/* ==========================
   LO NUEVO
   Ajuste de el titulo y 
   margenes para
   la seccion de productos nuevos
========================== */

#lo-nuevo{
    width: 100%;
    margin: 0 auto;
}

#lo-nuevo h2{
    color: white;
    text-transform: uppercase;
    margin: 20px;
    margin-left: 40px;
    font-size: 20px;
}

/* ==========================
   OBJETOS
   Esta parte del codigo se encarga
   de el diseño para todos los objetos
   que sean productos en el sistema, tanto
   para productos nuevos y productos destacados
========================== */

.objetos{
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
}

.objeto{
    background: #373737;
    border-radius: 15px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 450px; 
    width: 100%;
    min-width: 0;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
}

.objeto img{
    width: 180px;
    height: 180px;      
    object-fit: contain;
    margin-top: 15px;  
}

.objeto h3{
    min-height: 70px;
    text-align: center;
}

.objeto ul{
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    word-break: break-word;
}

.objeto li{
    word-break: break-word;
}

.objeto button{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.objeto a{
    color: white;
    text-decoration: none;
}

.precio li{
    margin-top: 5px;
    color: #315894;
}

/* ==========================
   CATEGORIAS VARIADAS
   Cambio de diseño de las cajas
   para 3 categorias variadas y destacadas
========================== */

#cat-variadas{
    width: 100%;
    margin: 0 auto;
}

#cat-arriba{
    width: 94%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

#cate-internos{
    width: 100%;
    margin: 0 auto;
    background:linear-gradient(to right, #303030, #747474);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
    
}

#img-cat-internos img{
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    cursor: pointer;
    padding: 0 40px;
    margin-right: -40px;
}

#img-cat-internos img:hover{
    width: 120%;
}

#img-cat-internos{
    display: flex;
    justify-content: flex-end;
    margin-right: -30px;
}

#cont-cat-internos{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
    padding-right: 20px;
}

#cate-perifericos{
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to left, #747474, #303030);
    border-radius: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}


#img-cat-perifericos img{
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0 40px;
    margin-left: -40px;
}

#img-cat-perifericos img:hover{
    width: 120%;
}

#img-cat-perifericos{
    display: flex;
    justify-content: flex-start;
}

#cont-cat-perifericos{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
    padding-right: 20px;
}

#cate-larga{
    width: 94%;
    margin: 0 auto;
    background: linear-gradient(to right, #303030, #747474);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#img-cat-larga img{
    display: block;
    width: 100%;
    max-width: 2000px;
    height: auto;
}

#img-cat-larga img:hover{
    width: 120%;
}

#cont-cat-larga{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
    padding: 0 40px;
}

#cat-variadas button{
    background-color: #2d7af1;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

#cat-variadas a{
    color: #151515;
    text-decoration: none;
}

/* ==========================
   PRODUCTOS DESTACADOS
   Como el diseño de los produtos
   es exactamente igual para
   los productos nuevos y los
   produtos destacados, solo cambiare
   el h2 y algun detalle de los margenes
========================== */

#destacados{
    width: 100%;
    margin: 0 auto;
}

#destacados h2{
    color: white;
    text-transform: uppercase;
    margin: 20px;
    margin-left: 40px;
    font-size: 20px;
}
