/*-- ==========================
    Oscar Nuñez 12/7/2026
    ========================== */
/* ==========================
   *{
   Ajuste general de la pagina 
   para determinar los margenes, padding,
   el scroll y box-sizing de la pagina
========================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ==========================
   IMG
   Ajuste general de la pagina 
   para determinar los limites de las imagenes
========================== */

img{
    max-width:100%;
    height:auto;
    display:block;
}

/* ==========================
   MAIN
   Ajuste de el fondo para el main
========================== */

main{
    background-color: #292929;
}


/* ==========================
   VENTA PRODUCTO
   Ajuste de el fondo para el main
========================== */

.venta-producto {
    width: 100%;
    padding: 2rem;
    padding-top: 2.5rem;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    color: #ededed;
}

.producto-principal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 1rem 0.5rem;
}

.imagen-producto {
    display: block;
    height: auto;
    padding: 1.5rem;
    margin-left: 2rem;
}

.imagen-producto img {
    width: 400px;
    
    object-fit: cover;
    object-position: center;
}

.tarjeta-producto {
    background-color: #666;
    border: 1px solid #555;
    border-radius: 1rem; 
    padding: 1rem;
}

.tarjeta-producto h2 {
    color: #fff;
}

.producto-precio {
    color: #fff;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.producto-caracteristicas {
    padding: 8px 12px;
}

.producto-caracteristicas h3 {
    margin-bottom: 6px;
    font-weight: 500;
}

.caracteristica {
    padding: 2px 6px;
}

.carrito-form {
  display: flex;
  align-items: stretch; 
  margin: 0.75rem 0;

  border: 1px solid #cfcfcf;
  border-radius: 8px;
  overflow: hidden;

  max-width: 400px;
  font-size: 1.3rem;
}

.cantidad-contenedor {
  background-color: #fff;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
}

.cantidad-contenedor input {
  border:  none;
  outline: none; 
  width: 40px;
  font-size: inherit;
}

.cantidad-contenedor input:focus {
    border: 1px solid #555;
    border-radius: 8px;
}

.producto-carrito {
  flex: 1;
  background: linear-gradient(to left, #340b85, #2573d8);
  color: #fff;
  border: none;

  font-size: 1.1rem;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4px;
  cursor: pointer;

  padding: 12px 24px;
  transition: opacity 0.2s;
}

.btn-carrito:hover {
  opacity: 0.8;
}

.icono-carrito {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* ==========================
   ESPECIFICACIONES PRODUCTO
========================== */

.especificaciones-producto {
    width: 100%;
}

.especificaciones-toggle {
  color: #ededed;
  border: 1px solid #444;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
  
}

.especificaciones-toggle summary {
  padding: 14px 20px;
  font-size: 1.5rem;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373737;
}

.especificaciones-toggle summary::after {
  content: '▼';
  font-size: 1rem;
  transition: transform 0.2s ease;
}

.especificaciones-toggle[open] summary::after {
  transform: rotate(180deg);
}

.contenido-especificaciones {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  border: 1px solid #373737;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.contenido-especificaciones h3 {
  margin-top: 8px 0;
  color: #5f5fe2;
  text-shadow: 0 0 2px rgba(0, 0, 50, 0.5);
  font-size: 1.5rem;
}

.contenido-especificaciones ul {
  list-style: inside;
  margin-bottom: 1rem;
}

.contenido-especificaciones li {
  padding: 6px 0;
  border-bottom: 1px solid #333;
}

.contenido-especificaciones li:last-child {
  border-bottom: none;
}

.contenido-especificaciones strong {
  color: #bbb;
}

.contenido-destacado {
    padding: 16px;
    border: 1px solid #ededed;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.5);
    border-radius: 12px;
}

.contenido-especificaciones p {
  margin: 0;
  color: #ededed;
}

/* ==========================
   DUDAS CLIENTE
========================== */


.divisor-negro {
    height: 1px;
    width: 100%;
    margin: auto;
    background: #151515;
}

.dudas {
    width: 100%;
    padding: 1rem 2rem;
    background: #444;
}

.dudas h2 {
    color: #ededed;
    font-size: 2.25rem;
    padding: 1.75rem 0;
    font-weight: 500;
}

.dudas form {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.dudas input {
    flex: 1;
    padding: 0.6rem;
    margin: 0 1rem;
    border: 2px solid #292929;
    border-radius: 12px;
    background-color: transparent;
    color: #ededed;
    font-size: 1.1rem;
    font-family: inherit;
    transition: transform 0.8 ease;
}

.dudas input::placeholder {
    color: inherit;
}

.dudas input:focus {
    outline: none;
    transform: scale(1.01);
    border-color: #222;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.dudas button {
  background: linear-gradient(to left, #340b85, #2573d8);
  color: #fff;
  border: none;
  border-radius: 16px;
  min-width: 128px;

  font-size: 1.1rem;
  font-weight: 500;

  cursor: pointer;

  padding: 0 24px;
  transition: opacity 0.2s;
}

.dudas button:hover {
  opacity: 0.7;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.dudas-toggle {
    color: #ededed;
    border: 1px solid #444;
    border-radius: 6px;
    overflow: hidden;
    margin: 16px 0;
    padding-bottom: 1rem;
}

.dudas-toggle summary {
    padding: 14px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #373737;
}

.dudas-toggle summary::after {
  content: '▼';
  font-size: 1rem; 
  transition: transform 0.2s ease;
}

.dudas-toggle[open] summary::after {
  transform: rotate(180deg);
}

.dudas-contenido {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  border: 1px solid #373737;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* ==========================
   PRODUCTOS RELACIONADOS
========================== */

.productos-relacionados {
    width: 100%;
    padding: 0rem 2rem 2rem 2rem;
    background: #444;
}

.productos-relacionados h2 {
    color: #ededed;
    font-size: 2.25rem;
    padding: 1.75rem 0;
    font-weight: 500;
}

.productos-contenedor {
    width: 100%;
    height: 70vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin: 0 auto;
}

.producto-card {
    background: #373737;
    border-radius: 16px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 420px; 
    width: 100%;
    min-width: 0;
}

.producto-card img{
    width: 180px;
    height: 180px;      
    object-fit: contain;
    margin-top: 16px;
    margin-bottom: 12px;
       
}

.card-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    font-size: 1.1rem;
}


.producto-card ul{
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style: none;
    word-break: break-word;
}

.producto-card li{
    word-break: break-word;
}

.producto-card button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
}

.producto-precio {
    margin-top: 5px;
    color: #315894;
}